# Ignore node_modules folder
node_modules/

# Ignore environment files (API keys, database credentials)
.env

# Ignore build and logs
/build/
*.log

# Ignore OS/macOS/Windows specific files
# .DS_Store
# Thumbs.db
